<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP PORT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">        
</head>
<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <div class="profile">
                <img style="display:none;" src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
                <h3>Hello {{session['username']}},</h3>
            </div>

            <ul>
                <li>
                    <a href="{{ url_for('my_ips') }}">
                        <span class="icon"><i class="fas fa-list"></i></span>
                        <span class="item">My IPs</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>

            <div class="section" style="display: none;">
                <div class="top_navbar">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
  <script type="text/javascript">
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
</script>
</body>
</html>