<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP PORT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}"> 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <div class="profile">
                <img style="display:none;" src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
                <h3>Hello {{session['username'].capitalize()}},</h3>
            </div>

            <ul>
               
                <li>
                    <a href="{{ url_for('my_ips') }}" class="active">
                        <span class="icon"><i class="fas fa-list"></i></span>
                        <span class="item">My IPs</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('my_ip_history') }}">
                        <span class="icon"><i class="fas fa-list"></i></span>
                        <span class="item">My IP History</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>

            <div class="section" style="display: none;">
                <div class="top_navbar">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="header">
          <div class="header-right">
            <a href="{{ url_for('my_ips') }}">IP List(s)</a>
          </div>
        </div>

        <div class="container" style="width: 885px;">
          <h2>Edit IP</h2>
          <form action="{{ url_for('update_my_ip') }}" method="post">
            <div class="form-group">
              <label for="ip">IP:</label>
              <input type="hidden" name="id" value="{{ip['id']}}">
              <input type="text" value="{{ip['ip']}}" required class="form-control" id="ip" placeholder="Enter IP" name="ip" minlength="7" maxlength="15" size="15" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

    </div>
   
    <script type="text/javascript">
        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function(){
            document.querySelector("body").classList.toggle("active");
        });

        $(document).ready(function () {
            $('#example').DataTable();
        });

        setTimeout(function(){
            $('.dataTables_wrapper').attr('style', 'position: static !important');
        },1000)
    </script>
</body>
</html>