<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP PORT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

</head>
<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <div class="profile">
                <img style="display:none;" src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
                <h3>Hello {{session['username'].capitalize()}},</h3>
            </div>

            <ul>
                <li>
                    <a href="{{ url_for('my_ips') }}" class="active">
                        <span class="icon"><i class="fas fa-list"></i></span>
                        <span class="item">My IP</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('my_ip_history') }}">
                        <span class="icon"><i class="fas fa-list"></i></span>
                        <span class="item">My IP History</span>
                    </a>
                </li>

                <li>
                    <a href="{{url_for('logout')}}">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
            </ul>

            <div class="section" style="display: none;">
                <div class="top_navbar">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
          <div class="header-right">
            <a href="{{ url_for('my_ips') }}">IP List(s)</a>
          </div>
          <div class="header-left">
            <a href="{{ url_for('add_my_ip') }}">Add IP</a>

          </div>
        </div>

        

        <div>

        {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-primary" role="alert" style="text-align: center;width: 20%;float: right;margin-top: 10px;">
                <ul class=flashes>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                </div>
              {% endif %}
        {% endwith %}


        <table id="example" class="display table" style="width:100%">
        <thead>
            <tr>
                <th>IP</th>
                <th>Open Port</th>
                <th>Last Scanned</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for dict_item in ips %}
                <tr>
                    <td>{{dict_item['ip']}}</td>
                    <td>{{dict_item['port']}}</td>
                    <td>{{dict_item['last_scanned']}}</td>
                    <td>{{dict_item['created_at']}}</td>
                    <td>{{dict_item['updated_at']}}</td>
                    <td><a href="{{ url_for('edit_my_ip') }}?id={{dict_item['id']}}">Edit</a> | <a onclick="return confirm('Are you sure ?')" href="{{ url_for('delete_my_ip') }}?id={{dict_item['id']}}">Delete</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function(){
            document.querySelector("body").classList.toggle("active");
        });

        $(document).ready(function () {
            $('#example').DataTable();
        });

        setTimeout(function(){
            $('.dataTables_wrapper').attr('style', 'position: static !important');
        },500)
    </script>
</body>
</html>